body {
    margin: 0;
    background: pink;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalBtns {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}

#carCanvas {
    background: lightblue;
}

#networkCanvas {
    background: black;
}